{% extends 'restroom_rater/base.html' %}
{% block content %}

    <!-- breadcrumbs -->
    <span id='breadcrumbs'>
        <p><a href="{% url 'homepage' %}">Home</a></p>
    </span>

    <h2>Edit Profile</h2>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <!-- form for user to edit their profile -->
    <form method="POST" action="">
        {% csrf_token %}
        <table if='EditProfileForm'>
            {{ form.as_table }}
        </table>
        <button type='submit'>Save Changes</button>
    </form>

{% endblock %}