{% load static %}
{% load widget_tweaks %}
<html>
    <head>
        <title>Restroom Rater</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    
    <body>

        <div>
            <h1 style="display: inline">Restroom Rater</h1>
        
            <div style="float: right">
                {% if request.user.is_authenticated %}
                    <span id='welcome_user_msg'>Hello, <a href="{% url 'user_profile' user_pk=request.user.pk %}">{{ request.user.username }} | <a href="{% url 'logout' %}">Logout</a></a></span>
                {% else %}
                    <span id='login_or_sign_up'><a href="{% url 'login' %}?next={{ request.path }}">Login or sign up</a></span>
                {% endif %}
            </div>
            <!-- <div class="center">
                <form action="{% url 'venue_list' %}">
                    {% render_field search_form.search_location.label %}:
                    {% render_field search_form.search_location class="form-control" %}

                    {% render_field search_form.search_name.label %}:   
                    {% render_field search_form.search_name class="form-control" %}

                    
                    <input type='submit' value='SEARCH'>
                </form>
            </div> -->

            <div class="center">
                <form action="{% url 'venue_list' %}">
                    {{ search_form }}
                    <input type='submit' value='SEARCH'>
                </form>
            </div>

        </div>

        {% block content %}
        {% endblock %}

    </body>
</html>