{% extends 'restroom_rater/base.html' %}

{% block content %}

    <p>Welcome to Restroom Rater</p>

<!-- <form method="POST" action="{% url 'homepage' %}">
    {% csrf_token %}
    {{ new_zip_form }}
    <button type="submit">Add</button>
</form> -->

    <form method="GET" action="{% url 'homepage' %}">
        {% csrf_token %}
        <label>Zip Code: </label>
        <input name="zip_code">
        <button type="submit">Submit</button>
    </form>

    {% for city in cities %}

        <div>
            {{ city.zipCode }}
        </div>

    {% empty %}

        <p>There are no cities</p>

    {% endfor %}
{% endblock %}