{% extends 'restroom_rater/base.html' %}
{% block content %}

<!-- {% csrf_token %} -->
<div>

    <p>Title: {{ review.title}}</p>
    <p>by {{ review.user }}</p>
    <p>Public: {{ review.public }}</p>
    <p>Type: {{ review.rest_type }}</p>
    <p>Changing Table: {{ review.baby }}</p>
    <p>Sharps Container: {{ review.needle }}</p>
    <p>Handicap Accessible: {{ review.handicap }}</p>
    <p>Rating: {{ review.rating }}</p>
    <p>Comment: {{ review.comment }}</p>
    <p>Date Posted: {{ review.posted_date }}</p>

</div>

{% endblock %}