{% extends 'restroom_rater/base.html' %}

{% block content %}

    {% for venue in venues %}

        <div style="margin-top: 1%">
            <div class="venue_list">
                <h3><a href="{% url 'venue_detail' venue_pk=venue.pk %}">{{ venue.name }}</a></h3>
                <div class="venue_text">
                    <p>{{ venue.address }}</p>
                    <p>{{ venue.city }}, {{ venue.state }} {{venue.zip_code }}</p>
                </div>
                <br>
            </div>
        </div>
        

    {% empty %}

        <p>There are no venues</p>

    {% endfor %}

{% endblock %}