{% extends 'restroom_rater/base.html' %}
{% block content %}
{% load widget_tweaks %}

    <img class="venue_images" src="{{ venue.image }}" alt="{{ venue.name }}">

    <div style="margin-top: 1%">
        <div class="venue_list">
            <h3 style="margin-bottom: 0pt">{{ venue.name }}</h3>
            <p style="margin-top: 0pt"><i>{{ venue.category }}</i></p>
            <div class="venue_text">
                <p>{{ venue.address }}</p>
                <p>{{ venue.city }}, {{ venue.state }} {{ venue.zip_code }}</p>
                
            </div>
            <br>
        </div>

    <div>
        <form method="POST" action="{% url 'venue_detail' venue_pk=venue.pk %}">
            {% csrf_token %}
            <!-- {{ restroom_form.as_p }} -->

            {% for hidden in restroom_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in restroom_form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
                    {{ field|add_class:'form-control' }}
                    {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="form-group">

                <label for="{{ restroom_form.public.id_for_label }}">{{ restroom_form.public.label }}</label>
                {{ restroom_form.public }}<br>
                <label for="{{ restroom_form.rest_type.id_for_label }}">{{ restroom_form.rest_type.label }}</label><br>
                {{ restroom_form.rest_type|add_class:'form-control' }}<br>
                <label for="{{ restroom_form.baby.id_for_label }}">{{ restroom_form.baby.label }}</label>
                {{ restroom_form.baby }}<br>
                <label for="{{ restroom_form.needle.id_for_label }}">{{ restroom_form.needle.label }}</label>
                {{ restroom_form.needle }}<br>
                <label for="{{ restroom_form.handicap.id_for_label }}">{{ restroom_form.handicap.label }}</label>
                {{ restroom_form.handicap }}<br>
                <label for="{{ restroom_form.rating.id_for_label }}">{{ restroom_form.rating.label }}</label><br>
                {{ restroom_form.rating|add_class:'form-control' }}<br>
                <label for="{{ restroom_form.title.id_for_label }}">{{ restroom_form.title.label }}</label><br>
                {{ restroom_form.title|add_class:'form-control' }}<br>
                <label for="{{ restroom_form.comment.id_for_label }}">{{ restroom_form.comment.label }}</label><br>
                {{ restroom_form.comment|add_class:'form-control' }}<br>
            </div>

            <input type="submit" value="Submit">
        </form>
    </div>

    <h3>Reviews</h3>

    {% if reviews %}
        {% for review in reviews %}

            <!-- <div style="display: inline-block" id='review_{{ review.pk }}'>
                <p style="display: inline-block">{{ review.rating }}/5</p>
            </div>

            <div style="display: inline-block" class='review' id='review_{{ review.pk }}'>
                <h4>&emsp;<a href="{% url 'review_detail' review_pk=review.pk %}">{{ review.title }}</a> by <a href="{% url 'user_profile' user_pk=user.pk %}">{{ review.user.username }}</a></h4>
                <p>&emsp;&emsp;{{ review.comment }}</p>
            </div> -->

            <div class="venue_list">
                <h4 style="display: inline-block;"><a href="{% url 'review_detail' review_pk=review.pk %}">{{ review.title }}</a></h4> 
                by <a href="{% url 'user_profile' user_pk=user.pk %}">{{ review.user.username }}</a>
                <div class="review_text">
                    {{ review.rating }}\5&emsp;<i>{{ review.comment }}</i>
                </div>
            </div>

        {% endfor %}

    {% else %}

        <p>No restroom reviews currently available.</p>

    {% endif %}

{% endblock %}