{% extends 'restroom_rater/base.html' %}
{% block content %}

    <span id='breadcrumbs'>
        <a href="{% url 'homepage' %}">Home</a>
        / 
        <a href="{% url 'venue_list' %}?zip_code={{ search_location }}">Venue List</a>
    </span>

    {% for venue in venues %}

        <div style="margin-top: 1%; width: auto;">
            <div class="venue_list">
                <h3 style="margin-bottom: 0pt"><a href="{% url 'venue_detail' venue_pk=venue.pk %}">{{ venue.name }}</a></h3>
                <p style="margin-top: 0pt"><i>{{ venue.category }}</i></p>
                <div class="venue_text">
                    <p>{{ venue.address }}</p>
                    <p>{{ venue.city }}, {{ venue.state }} {{ venue.zip_code }}</p>
                </div>
                <br>
            </div>
        </div>

    {% empty %}

        <b><p class="center">There are no venues!</p></b>

    {% endfor %}

{% endblock %}