{% extends 'restroom_rater/base.html' %}
{% block content %}

    <span id='breadcrumbs'>
        <p><a href="{% url 'homepage' %}">Home</p>
    </span>

    <h2>Edit Profile</h2>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

        <form method="POST" action="">
            {% csrf_token %}
            <table if='EditProfileForm'>
                {{ form.as_table }}
            </table>
            <button type='submit'>Save Changes</button>
        </form>

{% endblock %}