{% load static %}
{% load widget_tweaks %}
<html>
    <head>
        <title>Restroom Rater</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    
    <body>

        <div>
            
            <h1 style="display: inline">Restroom Rater</h1>

            <!-- form to enter zip code -->
            <div class="center">
                <form action="{% url 'venue_list' %}">
                    {% render_field search_form.zip_code.label %}:
                    {% render_field search_form.zip_code class="form-control" %}                    
                    <input type='submit' value='SEARCH'>
                </form>
            </div>

        </div>

        {% block content %}
        {% endblock %}

    </body>

    <footer>
        created by <a target="_blank" href="https://danibarstad.com">danibarstad</a> 
        | <a target="_blank" href="https://github.com/danibarstad/RestroomRater">GitHub</a>
    </footer>
</html>