{% extends 'restroom_rater/base.html' %}
{% block content %}

    <!-- breadcrumbs -->
    <div class="container">
        <div class="row">
            <div class="col">
                <span id='breadcrumbs'>
                    <p><a href="{% url 'homepage' %}">Home</a></p>
                </span>
            </div>
        </div>
    </div>
    <hr class="mt-0 mb-4">

    
    <div class="container">
        {% for review in reviews %}
            <div class="venue_list">
                <h4><a href="{% url 'review_detail' review_pk=review.pk %}">{{ review.title }}</a></h4> 
                <p>by {{ review.user }} for <a href="{% url 'venue_detail' venue_pk=review.venue.pk %}">{{ review.venue.name }}</a></p>
                <div class="review_text">
                    <p>{{ review.rating }}\5&emsp;<i>{{ review.comment }}</i></p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}