/* #venue_image {
    width: 250;
    height: 250;
} */

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type="submit"] {
    background-color: white;
    padding: 3px 15px;
    border: 1px solid;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: lavender;
}

#site-header {
    background: url('../img/bathroom.jpg');
    background-size: cover;
    height: 100%;
}

.venue_images {
    width: 35%;
    height: auto;
}

/* .venue_details {
    display: inline-block;
} */

.venue_text {
    margin-left: 10%;
    font-size: 11pt;
    line-height: 2px;
}

.venue_result {
    border: 2px solid gray;
    width: 25%;
    margin-bottom: 1%;
    padding-left: 1%;
} 

.review {
    border: 2px solid gray;
    width: 45%;
    margin-bottom: 1%;
    padding-left: 1%;
}

.review_text {
    font-size: 11pt;
    padding: 1%;
}