/* Font */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Link */
a {
    color: black;
}
a:link, a:visited {
    text-decoration: none;
}

a:hover {
    background-color: rgb(204, 216, 228);
}

a:active {
    background-color: rgb(185, 185, 185);
}


/* Input */
input[type="submit"] {
    background-color: white;
    padding: 2px 15px;
    border: 1px solid;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: rgb(204, 216, 228);
}

input[type="submit"]:active {
    background-color: rgb(185, 185, 185);
}


/* Venues */
.venue_images {
    width: 35%;
    height: auto;
    float: right;
    margin-top: 1%;
}

.venue_text {
    margin-left: 10%;
    font-size: 11pt;
    line-height: 2px;
}

.venue_list {
    border: 3px solid black;
    width: 35%;
    margin-bottom: 1%;
    padding-left: 1%;
    background-color: white;
} 

.venue_detail {
    padding-left: 1%;
    line-height: 2px;
}


/* Reviews */
/* .review {
    border: 2px solid gray;
    width: 45%;
    margin-bottom: 1%;
    padding-left: 1%;
} */

.review_text {
    font-size: 11pt;
    padding: 1%;
}
.review_detail {
    border: 2px solid gray;
    padding-left: 1%;
}

.review_column {
    font-size: 10pt;
    color: rgb(112, 112, 112);
    font-weight: bold;
}

body {
    background-image: url('../img/bathroom.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.center {
    margin: auto;
    width: 75%;
    padding: 10px;
    text-align: center;
}

.form-control {
    border-radius: 5px;
    width: 25%;
}